img.logo {
  max-width: 60px;
  margin-right: 10px;
}

.appimage {
  min-height:225px;
  background-image:url("/make-default.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn i {
  color: rgb(108, 117, 125);
}

.btn:hover i {
  color: white;
}


/*
  Ribbons
  HTML and CSS kindly remixed from great prior works:
  - https://codepen.io/eode9/pen/twkKm
*/

.timeline-heading {
  position: relative;
  overflow: hidden;
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

.corner-ribbon {
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  padding: 5px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.shadow {
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

.corner-ribbon.top-left {
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.top-left.small {
  top: 12px;
  left: -25px;
}

.corner-ribbon.top-right {
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.top-right.small {
  top: 12px;
  right: -75px;
}

.corner-ribbon.bottom-left {
  top: auto;
  bottom: 25px;
  left: -50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-left.small {
  bottom: 12px;
  left: -75px;
}

.corner-ribbon.bottom-right {
  top: auto;
  right: -50px;
  bottom: 25px;
  left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.bottom-right.small {
  bottom: 12px;
  right: -75px;
}

.corner-ribbon.app    { background: #39d;    }
.corner-ribbon.module { background: #006dad; }

.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e43;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}
